/* set design standards */
:root {
    font-size: 16px;
    --primary-color: hsl(10deg 20% 90%);
    --primary-color-hover: ;
    --accent-color: ;
    --accent-color-hover: ;
    --background-color: hsl(30deg 72% 70%);
}

/* * {
    outline: 1px solid red;
} */

/* reset and normalize */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px auto;
    grid-template-areas: "nav header"
        "nav main";
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* style elements */


/* todoCard */
ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.todoCard {
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: none;
    box-shadow: 5px 2px 10px black;
}

.todoCard-header-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.todoCard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.todoCard-actions {
    display: flex;
    gap: 1em;
}

.todoCard-actions>label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.important-checkbox {
    height: 0;
    width: 0;
}

.done-checkbox {
    height: 1rem;
    width: 1rem;
}

.todoCard-actions>label>svg {
    stroke: hsl(60deg 90% 40%)
}

.todoCard-actions>label>svg:hover {
    stroke: hsl(60deg 90% 46%)
}

.todoCard>p {
    padding: 1rem;
}

/* buttons */

.btn {
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    box-shadow: 2px 2px 5px black;

}

.delete {
    background-color: hsl(10deg 70% 80%);
}

.delete:hover {
    background-color: hsl(10deg 60% 60%);
}

/* page layout containers */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: main;
    padding-right: 5rem;
}

nav {
    grid-area: nav;
}

main>button {
    margin-bottom: 1rem;
}

/* Keep last in CSS */
.todo-done,
.todo-done.todo-important {
    background-color: hsl(110deg 60% 80%);
}

.todo-important {
    background-color: hsl(60deg 100% 80%);
}